.Title {
  color: var(--colors-primary);
}

.TableWrapper {
  overflow-x: scroll !important; 
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: var(--grid-row);
}

table td, table th {
  border: 1px solid var(--colors-secondary);
  text-align: center;
  padding: 8px 20px;
}

tr:nth-child(odd){
  background-color: var(--colors-grey);
}

tr:hover {
  background-color: var(--colors-light-green);
}

tr:first-child {
  background: var(--colors-green);
}

th {
  color: white;
}

.Units {
  font-style: italic;
  color: var(--colors-primary-trans);
}