.UploadPopupShow {
    display: flex;
    flex-flow: column;
    padding-top: var(--grid-row);
    position: fixed;
    transform: translateY(8%);
    height: 100vh;
    width: 100vw;
    background-color: white;
    box-shadow: 0px -5px 10px 1px rgba(0,0,0,0.2);
    border-radius: 13px;
    transition: transform .2s ease-out;
}

.SubTitle {
    text-align: center;
    color: var(--colors-primary);
    margin-bottom: var(--grid-row-2);
}

.UploadPopupHide {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: top;
    position: fixed;
    transform: translateY(100%);
    height: 100vh;
    width: 100vw;
    background-color: white;
    border-radius: 13px;
    transition: transform .2s ease-out;
    pointer-events: none;
}

.Backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0.3;
    transition: opacity .2s;
}

.BackdropHidden {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s;
}

.ProgressBackdrop {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 13px;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
}

.ProgressShow {
    opacity: 1;
    transition: opacity .2s ease-out;
}

.ProgressHide {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease-out;
}

.Progress {
    color: white;
}

.ProgressWrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--colors-primary);
    color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.Close {
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 2%;
    font-size: var(--font-size-header);
    font-weight: var(--font-weight-bold);
}

.UploadPopupHide, .UploadPopupShow label {
    margin-left: var(--grid-gutter-half);
    margin-bottom: 5px;
    font-weight: var(--font-weight-bold);
}

.UploadPopupHide, .UploadPopupShow label:last-of-type {
    margin-top: var(--grid-row-half);
}

.FileUpload {
    margin-left: var(--grid-gutter-half);
}

.FormField {
    width: 20rem;
    height: 1.5rem;
    margin-bottom: var(--grid-gutter-half);
    margin-left: var(--grid-gutter-half);
}

.SubmitButton {
    margin-top: var(--grid-row);
    margin-left: var(--grid-gutter-half);
    margin-right: var(--grid-gutter-half);
}

@media only screen and (min-width: 769px) {  
    .UploadPopupShow {
        display: flex;
        flex-flow: column;
        padding-top: var(--grid-row);
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 50vh;
        width: 50vw;
        opacity: 1;
        background-color: white;
        box-shadow: 0px -5px 10px 1px rgba(0,0,0,0.2);
        border-radius: 13px;
    }
    
    .UploadPopupHide {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: top;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        height: 50vh;
        width: 50vw;
        background-color: white;
        border-radius: 13px;
        pointer-events: none;
    }
}