@import './../../styles/variables.css';

.FieldListHide, .FieldListShow {
  position: absolute;
  padding: var(--grid-gutter);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.1);
  margin-bottom: var(--grid-row);
  margin-top: 10px;
  z-index: 10;
}

.FieldListHide {
  transform: scaleY(0);
  width: 80%;
  transform-origin: top center;
  transition: transform .15s ease-out;
}

.FieldListShow {
  transform: scaleY(1);
  width: 80%;
  transform-origin: top center;
  transition: transform .15s ease-out;
}

.FieldNormalHidden, .FieldHighlightHidden {
  opacity: 0;
  font-size: var(--font-size-small);
  transform: translateY(-25px);
}

.MobileSelector {
  width: 100%;
  margin-top: 10px;
  position: relative;
  right: 0;
  display: inline-block;
  margin-bottom: 10px;
}

.TitleWithButton {
  display: none;
}

h2 {
  margin: 0;
  color: var(--colors-primary);
  font-weight: var(--font-weight-bold);
}

.FieldNormal {
  opacity: 0.8;
  transform: translateY(0);
  cursor: pointer;
  margin: 5px 0;
  font-size: var(--font-size-normal);
  color: var(--colors-primary);
  opacity: 0.8;
  transition-delay: .2s;
  transition: transform .2s ease-out;
}

.FieldHighlight {
  opacity: 1;
  transform: translateY(0);
  cursor: pointer;
  margin: 5px 0;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--colors-primary);
  transition-delay: .2s;
  transition: transform .2s ease-out;
}

@media only screen and (min-width: 769px) {
  .FieldListShow {
    position: initial;
    margin-top: var(--grid-row);
  }

  .MobileSelector {
    display: none;
  }

  .TitleWithButton {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid var(--colors-primary-trans);
    margin-bottom: 10px;
  }
}