/* TAGET FRA https://www.w3schools.com/howto/howto_css_switch.asp */

.SwitchWrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 20px;
  margin-bottom: var(--grid-row-half);
}

.SwitchWrapper h5 {
  margin: 0;
  margin-left: 10px;
  color: var(--colors-primary);
}

.Switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 0;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.RoundNode {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colors-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

.RoundNode:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .RoundNode {
  background-color: var(--colors-green);
}

input:focus + .RoundNode {
  box-shadow: 0 0 1px var(--colors-green);
}

input:checked + .RoundNode:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.RoundNode {
  border-radius: 34px;
}

.RoundNode:before {
  border-radius: 50%;
}