.DatePicker {
  border-radius: 5px;
  border: thin solid var(--colors-primary);
  color: var(--colors-primary);
}

.DatePicker input {
  color: var(--colors-primary);
}

.DefactionSwitch {
  margin-bottom: 0 !important;
}