@import './variables.css';

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.button-primary {
  background-color: var(--colors-green);
  color: white;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-normal);
  width: 100%;
  border: none;
  border-radius: 2px;
  height: 48px;
  cursor: pointer;
  margin: 0;
  transition: transform 0.05s ease-out;
}

.button-primary:disabled {
  opacity: 0.5;
  cursor: initial;
}

.button-primary:disabled:hover {
  opacity: 0.5;
  cursor: initial;
  background-color: var(--colors-green);
}

.button-rounded {
  background-color: var(--colors-primary);
  color: white;
  font-size: var(--font-size-big);
  text-align: center;
  width: 38px;
  height: 38px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  margin: 0;
}

.button-rounded-small{
  background-color: var(--colors-primary);
  color: white;
  font-size: var(--font-size-medium);
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  margin: 0;
}

.button-rounded:active, .button-rounded-small:active, .button-primary:active {
  background-color: var(--colors-green);
}

.button-rounded:hover, .button-rounded-small:hover, .button-primary:hover {
  background-color: var(--colors-dark-green);
}

.title {
  color: var(--colors-primary);
}


.standard-input {
  background-color: var(--colors-secondary);
  border: none;
  width: calc(100% - 50px);
  height: 42px;
  padding: 0 15px;
  margin: 15px 10px;
  font-size: var(--font-size-normal);
}

::placeholder {
  font-size: var(--font-size-normal);
  color: var(--colors-primary-trans);
}

form {
  margin: 0;
}

.react-date-picker__wrapper {
  border: none !important;
}

.react-calendar__tile--now {
  background: #A9CEC290 !important;
}

.react-calendar__tile--active {
  background: var(--colors-green) !important;
}
.react-calendar__tile--active abbr{
  color: white !important;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--colors-primary-trans) !important;
}

.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
  stroke: var(--colors-green) !important;
}

.react-date-picker__button__icon{
  stroke: var(--colors-primary) !important;
}