:root {
  /*
  /* Extra small devices (phones, 600px and down)
  @media only screen and (max-width: 600px) {...}*/

  /* Small devices (portrait tablets and large phones, 600px and up) 
  @media only screen and (min-width: 600px) {...}*/

  /* Medium devices (landscape tablets, 768px and up) 
  @media only screen and (min-width: 768px) {...}*/

  /* Large devices (laptops/desktops, 992px and up) 
  @media only screen and (min-width: 992px) {...}*/

  /* Extra large devices (large laptops and desktops, 1200px and up)
  @media only screen and (min-width: 1200px) {...}*/

  /* FONT SIZES */
  --font-size-tiny: 12px;
  --font-size-small: 14px;
  --font-size-normal: 18px;
  --font-size-medium: 22px;
  --font-size-big: 28px;
  --font-size-bigger: 36px;
  --font-size-header: 48px;
  --font-size-header-large: 52px;


  /* FONT WEIGHT */
  --font-weight-regular: 400;
  --font-weight-bold: 700;


  /* COLORS */
  --colors-primary: #2D2D2D;
  --colors-secondary: #DFE0DF;
  --colors-grey: #E8E8E8;
  --colors-dark-grey: #C8CBD0;
  --colors-primary-trans: #2D2D2D80;
  --colors-orange: #FF6B00;
  --colors-dark-blue: #2F4858;
  --colors-green: #63BAAA;
  --colors-dark-green: #298476;
  --colors-light-green: #E1F6E9;
  --colors-blue: #4C8AFF;

  /* SPACING */
  --grid-gutter: 1.4rem;
  --grid-gutter-half: calc(1.4rem / 2);
  --grid-column: 1.8rem;
  --grid-row: 2.4rem;
  --grid-row-2: calc(2.4rem * 2);
  --grid-row-half: calc(2.4rem / 2);
}