@import './../../styles/variables.css';

.Timeline {
  margin-top: var(--grid-row);
  height: 100%;
  padding-left: 40%;
}

.TimelineEvents {
  position: relative;
  top: -100%;
}

.Line {
  animation-name: lineInMobile;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-delay: .35s;
  transform: scaleY(0);
  height: 95%;
  width: 2px;
  transform-origin: top center;
  background-color: var(--colors-primary);
}

.Line::after {
  content: '';
  position: relative;
  top: 100%;
  left: -6px;
  transform: scale(0);
  display: inline-block;
  width: 14px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--colors-primary);
  animation-name: pointIn;
  animation-duration: .2s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.81,0.26,0.49,1.29);
}

.Event {
  margin-bottom: 30px;
}

.PointContainer {
  display: flex;
  flex-flow: row;
  margin-bottom: 50px;
}

.SubPointContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
}

.SubSubPointContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
}

.SubSubPointContainer:first-child > .SubSubPoint {
  display: none;
} 

.SubSubPointContainer:first-child > .SubSubPointText {
  top: -35px;
} 

.SubSubPointContainer:not(:first-child) > .SubSubPointText {
  margin-left: -35px;
} 

.SubSubPointContainer:nth-child(2) {
  margin-top: -30px;
} 

.StartPoint {
  position: relative;
  left: -18px;
  top: 0;
  margin-right: 5px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--colors-orange);
}

.StartPointText {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--colors-primary);
  margin-top: 10px;
  margin-left: -15px;
  overflow-x: hidden;
}

.SubPoint {
  width: 100%;
  position: relative;
  left: -19px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  position: relative;
  margin-left: 5px;
  background-color: var(--colors-dark-blue);
}

.SubPointText {
  color: var(--colors-primary);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  margin-left: -160px;
}

.SubSubPoint {
  width: 100%;
  position: relative;
  left: -14px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin-left: 5px;
  background-color: var(--colors-dark-blue);
}

.SubSubPointText {
  position: relative;
  left: 25px;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
  color: var(--colors-primary);
}
@media only screen and (min-width: 600px) {
  .Timeline {
    padding-left: 45%;
  }
}

@media only screen and (min-width: 769px) {
  .Timeline {
    margin-left: 30%;
    padding: 0;
    margin-right: var(--grid-column);
    left: 0;
    margin-top: 5%;
  }

  .Line {
    animation-name: lineIn;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: .35s;
    width: 4px;
  }

  .Line::after { 
    width: 20px;
    height: 20px;
    left: -8px;
  }

  .StartPoint {
    left: -20px;
    width: 45px;
    height: 45px;
  }

  .SubPoint {
    left: -20px;
    width: 35px;
    height: 35px;
  }
  
  .SubSubPoint {
    left: -15px;
    width: 25px;
    height: 25px;
  }

  .SubSubPointContainer:first-child > .SubSubPointText {
    top: -40px;
  } 
}

[data-animate~="inview-point"] {
  transform: scale(0);
}

[data-animate~="inview-animate-point"] {
  transform: scale(1);
  transition: transform .25s cubic-bezier(0.81,0.26,0.49,1.29);
  transition-delay: .15s;
}

[data-animate~="inview-text"] {
  transform: translateY(10px);
  opacity: 0;
}

[data-animate~="inview-animate-text"] {
  transform: translateY(0);
  opacity: 1;
  transition: all .2s ease-out;
  transition-delay: .15s;
}

@keyframes lineIn {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(0.95);
  }
}

@keyframes lineInMobile {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(0.9);
  }
}

@keyframes pointIn {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}
