@import './../../styles/variables.css';

.ZoneInfo {
  display: flex;
  flex-direction: column;
  color: var(--colors-primary);
}

.ButtonContainer {
  margin: 0 10px;
}

.YearAndZone {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 10px;
}

.Year {
  font-size: var(--font-size-medium);
  color: var(--colors-primary-trans);
}

.Zone {
  font-size: var(--font-size-big);
}

.DefactionSelectWrapper {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .ButtonContainer {
    margin-left: var(--grid-gutter);
  }

  .DefactionSelectWrapper {
    width: 60%;
    margin-left: 10px;
  }

  .YearAndZone {
    display: flex;
    flex-flow: row;
    margin-left: var(--grid-gutter);
  }
}
