@import './../../styles/variables.css';

.MenuBarComponent {
    position: relative;
    z-index: 10;
}

.MenuBarHide {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    transform: translateX(100%);
    transition: transform .3s ease-out;
    transition-delay: 0.2s;
}

.MenuBarShow {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: white;
    display: flex;
    flex-flow: row;
    align-items: center;
    transform: translateX(0);
    transition: transform .3s ease-out;
}

.BurgerClose, .BurgerOpen {
    background-color: var(--colors-dark-blue);
    padding: 10px 14px;
    border-radius: 100%;
    cursor: pointer;
    width: 25px;
    position: fixed;
    right: 5%;
    top: 3%;
    z-index: 1;
}

.LogoutButtonShow {
    width: 100%;
    z-index: 10;
    position: fixed;
    bottom: 2%;
    left: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition: transform .15s ease-out;
}

.LogoutButtonHide {
    width: 100%;
    z-index: 10;
    position: fixed;
    bottom: 2%;
    left: 0;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    transform: translateY(200%);
    pointer-events: none;
    transition: transform .15s ease-out;
}

.LogoutButtonShow button {
    width: 90vw;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    background-color: var(--colors-green);
    border: none;
    color: white;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}

.LogoutButtonHide button {
    width: 90vw;
    text-align: center;
    height: 50px;
    border-radius: 5px;
    background-color: var(--colors-green);
    border: none;
    color: white;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}

.Bar {
    width: 100%;
    background-color: white;
    height: 4px;
    margin: 5px 0;
    transition: transform 0.2s ease-out;
    transform-origin: center center;
}

.BurgerOpen > .Bar:first-child {
    transform: translateY(10px) rotate(-45deg);
}

.BurgerOpen > .Bar:nth-child(2) {
    transform: scaleX(0);
}

.BurgerOpen > .Bar:last-child {
    transform: translateY(-8px) rotate(45deg);
}


.BurgerClose > .Bar:first-child {
    transform: translateY(0) rotate(0deg) ;
}

.BurgerClose > .Bar:nth-child(2) {
    transform: scaleX(1);
}

.BurgerClose > .Bar:last-child {
    transform: translateY(0) rotate(0deg) ;
}   

.Logo {
    position: absolute;
    left: 5%;
    top: 1.5%;
    margin: 0;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-header);
    text-decoration: none;
    color: var(--colors-primary);
}

.MenuesShow, .MenuesHide {
    margin-left: calc(var(--grid-column) * 2);
    display: flex;
    flex-flow: column;
}

.Item {
    position: relative;
    font-size: var(--font-size-header);
    display: block;
    margin: auto 20px;
    opacity: 0.5;
    text-decoration: none;
    color: var(--colors-primary);
    transition: all .2s ease-out;
}

.MenuesShow > .Item:first-child {
    opacity: 0.5;
    transform: translateX(0);
    transition-delay: 0.3s;
}   

.MenuesShow > .Item:nth-child(2) {
    opacity: 0.5;
    transform: translateX(0);
    transition-delay: 0.4s;
}
.MenuesShow > .Item:last-child {
    opacity: 0.5;
    transform: translateX(0);
    transition-delay: 0.5s;
}

.MenuesHide > .Item:first-child {
    opacity: 0 !important;
    transform: translateX(50px);
}

.MenuesHide > .Item:nth-child(2) {
    opacity: 0 !important;
    transform: translateX(50px);
    transition-delay: 0.1s;
}

.MenuesHide > .Item:last-child {
    opacity: 0 !important;
    transform: translateX(50px);
    transition-delay: 0.2s;
}

@media only screen and (min-width: 769px) {
    .BurgerWrapper {
        cursor: pointer;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 5rem;
        height: 100vh;
        background-color: var(--colors-green);
        z-index: 1;
    }

    .BurgerClose, .BurgerOpen {
    }

    .BurgerClose, .BurgerOpen {
        background-color: transparent;
        padding: 10px 14px;
        border-radius: 100%;
        cursor: pointer;
        width: 25px;
        position: relative;
        right: 5%;
        top: 3%;
        z-index: 1;
    }

    .Bar {
        background-color: white;
    }

    .LogoutButtonShow button {
        cursor: pointer;
        width: 30vw;
        text-align: center;
        height: 50px;
        border-radius: 5px;
        background-color: white;
        border: none;
        color: var(--colors-green);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-medium);
    }

    .LogoutButtonHide button {
        cursor: pointer;
        width: 30vw;
        text-align: center;
        height: 50px;
        border-radius: 5px;
        background-color: white;
        border: none;
        color: var(--colors-green);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-medium);
    }

    .LogoutButtonShow button:active {
        background-color: var(--colors-secondary);
    }

    .MenuesShow, .MenuesHide {
        margin-left: calc(var(--grid-column) * 4);
    }

    .MenuBarHide {
        left: 0;
        background-color: var(--colors-green);
        transform: translateX(-100%);
    }
    
    .MenuBarShow {
        left: 0;
        background-color: var(--colors-green);
        transform: translateX(0);
    }

    .MenuesHide > .Item:first-child {
        transform: translateX(-50px);
    }
    
    .MenuesHide > .Item:nth-child(2) {
        transform: translateX(-50px);
    }
    
    .MenuesHide > .Item:last-child {
        transform: translateX(-50px);
    }

    .Item {
        color: white;
    }

    .Logo {
        color: white;
        left: 8%;
    }
}
