@import './../../styles/variables.css';

.Map {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.1);
}

.MapContainer {
  width: 100%;
  height: 35vh;
  margin: auto;
}

.DownloadLink {
  font-size: var(--font-size-regular);
  margin-left: 10px;
  text-decoration: none;
  color: var(--colors-blue);
}

.FieldName {
  padding-left: 5px;
  margin-top: var(--grid-row-half);
  margin-bottom: var(--grid-row-half);
  color: var(--colors-primary);
}

h2:last-child {
  margin-left: 20px;
}

.TimelineWrapper {
  display: flex;
  flex-flow: row;
  background-color: transparent;
  width: 100%;
  height:100%;
}

@media only screen and (min-width: 769px) {
  .Map {
    padding: var(--grid-gutter);
    padding-bottom: var(--grid-row);
    margin-top: var(--grid-row);
  }

  .DownloadLink {
    font-size: var(--font-size-medium);
    margin-left: var(--grid-gutter);
    text-decoration: none;
    color: var(--colors-blue);
  }
  

  .MapContainer {
    height: 35vh;
    margin: auto;
  }
  
  .TimelineWrapper {
    padding-left: var(--grid-gutter);
    margin-top: var(--grid-row);
  }
}