.Title {
    color: var(--colors-primary);
}

.SliderParent {
    position: relative;
}

.Bubble {
    position: absolute;
}

.SubTitle {
  color: var(--colors-primary);
}

.ButtonContainer {
  margin: var(--grid-row) 0;
}

.LoadingWrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.5;
}